@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --branco: white;
    --cor-de-fundo:#2e66a1;
    --fundo-senha:#bcd8f8;
    --fundo-texto:rgb(245, 163, 131);
    --borda:#549ef3;
    --playfair-display: "Playfair Display", serif;
}
*{
    font-weight:400;
}
body{
    color:var(--branco);
    background-color:var(--cor-de-fundo)
    font-family:var(var(--playfair-display))
}